.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
    bottom: 0;
    position: fixed;
    display: flex;
    justify-content: space-around;

}
